{% extends 'base.html.twig' %}

{% block body %}

    <div class="alert alert-primary">
        <ul class="list-unstyled mb-0">
            <li>
                <span class="initialism form-error-icon badge">Bienvenue sur la page d'accueil</span>
            </li>
        </ul>
    </div>

{% endblock %}