{% extends 'base.html.twig' %}
{% block title %}Page d'acceuil admin{% endblock %}

{% block contentheader_breadcrumb %}
    <li class="breadcrumb-item"><a href="javascript:void(0)">Acceuil</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
{% endblock %}

{% block body %}
    <div class="alert alert-danger">
        <ul class="list-unstyled mb-0">
            <li>
                <span class="initialism form-error-icon badge badge-danger">Bienvenue sur la page administrateur {{  }}</span>
            </li>
        </ul>
    </div>
{% endblock %}



